
<div id="landing_container" class="container-fluid">
    <h1>SoundWavve</h1>
    <p class="pitch">
        the SoundWavve is where music happens.</br>
        this is where the best get together to assemble all the ingredients in the recipe</br>
        <span>Join a thriving community of some of music's brightest minds</span>
    </p>
</div>