

#landing_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/soundwavve_landing.jpg");

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    h1 {
        margin-right: 50px;
        font-size: 3em;
        color: violet;
    }
    .pitch {
        font-size: 1.2em;
        line-height: 1.5em;
        color: #fff;
        span {
            font-weight: bold;
            color: violet;
        }
    }
}

