
.logotype {
    color: salmon;
}


.my_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
    // background-color: #000;
}

.nav_list {
    width: 100vw;


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.login {
    button {
        color: violet;
    }
}

.sign_up {
    margin-right: 50px;
    button {
        padding: 2px 25px;
        padding-bottom: 4px;
    }
}

#user_greeting {
    margin-right: 50px;
}

#user_dropdown, #studios_dropdown, #connect_dropdown {
    text-align: center;
    background: rgb(39, 39, 39);
    li {
        padding: 10px;
        background: rgb(39, 39, 39);
    }
    .dropdown-divider {
        border-top: 1px solid #444;
    }
}

.nav_links {
    position: absolute;
    right: 25px;
    > li {
        display: inline;
        margin-left: 25px;
    }
}