
.logotype {
    color: salmon;
}


.my_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
    // background-color: #000;
}

.nav_list {
    width: 100vw;


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.login {
    button {
        color: salmon;
    }
}

.sign_up {
    margin-right: 50px;
    button {
        padding: 2px 25px;
        font-weight: bold;
        // background: rgb(19, 252, 147);
    }
}

#user_greeting {
    margin-right: 50px;
}

#user_dropdown, #studios_dropdown, #connect_dropdown {
    text-align: center;
    li {
        padding: 10px;
    }
}

.nav_links {
    float: right;
    > li {
        display: inline;
        margin-left: 25px;
    }
}