
#new_studio {
    width: 50%;
    margin-bottom: 100px;
    h2 {
        padding: 25px 0px;
    }
    .opening_time {
        display: inline-block;
    }
    
    .closing_time {
        display: inline-block;
        margin-left: 75px;
    }
}

