

.container {
    margin-top: 100px;
}

.page_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgb(189, 189, 189);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// #login_container {
//     position: relative;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;

//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: center;
//     align-items: center;
//     h2 {
//         text-align: center;
//         padding-bottom: 25px;
//     }
//     label {
//         width: 171px;
//     }
// }
