

a {
    color: violet;
  
    &:visited {
      color: violet;
    }
  
    &:hover {
      color: rgb(10, 252, 163);
      text-decoration: none;
    }
}

.devise_links {
    margin-top: 25px;
    text-align: center;
    a {
        font-weight: bold;
        color: #444;
        &:hover {
            color: #000;
        }
    }
}

.nav-link {
    color: #444;
}

.post_table {
    tbody {
        margin-top: 50px;
    }
    .post_head {
        font-size: 2em;
    }
    .post_title {
        font-weight: bold;
        color: #444;
    }
    .post_body {
        color: #999;
    }
}

